/* banner */
.banner {
  padding: 3rem 1rem;
}
.banner h2 {
  font-size: 2rem;
}
.banner img {
  max-width: 450px;
}
/* call-to-action */
.cta {
  position: relative;
  z-index: 0;
}
.cta div:nth-child(2) {
  border-radius: 3px;
  margin-left: 5%;
  max-width: 212px;
  min-width: 123px;
}
.cta a::before {
  content: "";
  display: inline-block;
  background-image: url("../imgs/icone-foguete.png");
  background-size: cover;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
/* info&planos*/
#info img,
#planos img {
  max-width: 200px;
}
#info {
  background-color: var(--neutra-2);
}
#planos div {
  background-color: var(--neutra-1);
}
.tabela-planos{
  overflow-x: auto;
  margin-bottom:10px;
}
.tabela-planos::-webkit-scrollbar {
  height: 5px;
}
.tabela-planos::-webkit-scrollbar-thumb {
  background: var(--secundaria);
  border-radius: 2.5px;
}
table {
  box-shadow: 0 0 20px var(--shadow);
  margin: 3rem 1rem 2rem;
}
thead {
  background-color: var(--light);
}
thead p {
  color:var(--neutra-3);
  font-weight: 400;
}
tr {
  display: flex;
}
th,
td {
  width: 25%;
}
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid silver;
}
th {
  padding: 0 1rem;
}
td {
  padding:.5rem 1rem;
}
tbody tr:nth-child(odd) {
  background-color: var(--neutra-1);
}
tbody tr:nth-child(even) {
  background-color: var(--light);
}
/*  */
td:hover {
  background-color: var(--primaria);
  color: var(--light);
}

/* media query */
@media (max-width: 465px) {
  #planos .p-sm {
    padding-right: 0;
    padding-left: 0;
  }
  #planos img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: .5rem 1rem 1.5rem;
  }
  table {
    margin: .2rem;
  }
}
@media (max-width: 900px) {
  .banner div {
    flex-direction: column-reverse;
  }
  .banner img {
    max-width: 400px;
  }
}
